<!--NAVIGATION MENU-->
<nav class="main-nav pure-menu pure-menu-horizontal" routerLinkActive="active">
	<ng-container *ngIf="showNav === 'true'; else blankNav">
		<a class="pure-menu-heading pure-menu-link" routerLink="../home">HOME</a>
		<!-- href="navbar/home" -->
	    <ul class="pure-menu-list">
	        <li class="pure-menu-item"><a class="pure-menu-link" routerLink="../settings">SETTINGS</a></li>
	        <li class="pure-menu-item"><a class="pure-menu-link" routerLink="../dashboard">DASHBOARD</a></li>
	    </ul>
	</ng-container>
	<ng-template #blankNav>
	</ng-template>
</nav>
